<ion-content class="background">

  <div class="page-container">
    <!-- Logo -->
    <p class="logo">{{'appName' | translate}}</p>
    <p class="greeting">{{'resetPasswordTitle' | translate}}</p>
    <p class="message">{{'messageRP' | translate}}</p>

    <form [formGroup]="resetPasswordForm" (keyup.enter)="resetPassword()" class="form">

      <!-- New Password -->
      <div>
        <div class="input-container">
          <!-- <ion-icon class="input-icon" src="assets/img/password.svg"></ion-icon> -->
          <ion-input placeholder="{{ 'newPassword' | translate }}" formControlName="password" name="password"
            type="password" enterkeyhint="next">
          </ion-input>
        </div>
        <div *ngIf="isSubmit" class="error-block">
          <small *ngIf="f.password.errors && f.password.errors.required">{{ 'newPasswordRequired' | translate }}</small>
          <small *ngIf="f.password.errors && f.password.errors.pattern">{{ 'invalidNewPassword' | translate }}</small>
        </div>
      </div>

      <!-- Confirm Password -->
      <div>
        <div class="input-container">
          <!-- <ion-icon class="input-icon" src="assets/img/password.svg"></ion-icon> -->
          <ion-input placeholder="{{ 'confirmPassword' | translate }}" formControlName="confirmPassword" name="confirmPassword"
            type="password" enterkeyhint="go">
          </ion-input>
        </div>
        <div *ngIf="isSubmit" class="error-block">
          <small *ngIf="f.confirmPassword.errors && f.confirmPassword.errors.required">{{ 'newConfirmPasswordRequired' |
            translate }}</small>
          <small *ngIf="f.confirmPassword.errors && f.confirmPassword.errors.equalTo">{{ 'newconfirmPasswordMismatch' |
            translate }}</small>
        </div>
      </div>

      <ion-button [disabled]="submitBtnDisabled" (click)="resetPassword()">{{ 'reset' | translate }}</ion-button>

    </form>

    <p (click)="goBack()" class="forgotPassword">{{'backToLogin' | translate}}</p>
  </div>

</ion-content>
