<ion-content class="background">

  <div class="page-container">
    <!-- Logo -->
    <p class="logo">{{'appName' | translate}}</p>
    <p class="greeting">{{'forgotPasswordTitle' | translate}}</p>
    <p class="message">{{'messageFP' | translate}}</p>

    <form [formGroup]="forgotPasswordForm" (keyup.enter)="forgotPassword()" class="form">

      <!-- Email -->
      <div>
        <div class="input-container">
          <ion-icon class="input-icon" src="assets/img/email.svg"></ion-icon>
          <ion-input placeholder="{{ 'email' | translate }}" formControlName="email" name="email" type="email"
            enterkeyhint="next">
          </ion-input>
        </div>
        <div *ngIf="isSubmit" class="error-block">
          <small *ngIf="f.email.errors &&  f.email.errors.required">{{ 'emailRequired' | translate
            }}</small>
          <small *ngIf="f.email.errors &&  f.email.errors.pattern">{{ 'emailInvalid' | translate
            }}</small>
        </div>
      </div>



      <ion-button [disabled]="submitBtnDisabled" (click)="forgotPassword()">{{ 'submit' | translate }}</ion-button>

    </form>

    <p (click)="goBack()" class="forgotPassword">{{'backToLogin' | translate}}</p>
  </div>

</ion-content>
