<ion-header >  
  <!-- *ngIf="!isSideMenuVisible" -->
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-menu-button color="light">
      </ion-menu-button>
    </ion-buttons> -->
    <ion-title class="title" color="light">{{'appName'| translate}}
    <!-- <div class="logout-button" (click)="logout()"> -->
      <ion-icon class="logout-cls" (click)="logout()" src="assets/img/logout.svg"> </ion-icon>
      <p class="logout-label-cls" (click)="logout()">{{'logout' | translate}}</p>
    <!-- </div> -->
  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main-contain-cls">
  <div id="container" class="container" >

    <div class="case-list">
      <!-- fab placed to the (vertical) center and end -->
      <ion-fab>
        <ion-fab-button (click)="setIsDetails(false);" class="fab-add">
          <ion-icon src="assets/img/plus.svg"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <div class="search-box-container">
        <!-- checkbox -->
        <div class="checkbox-container">
          <ion-checkbox mode="ios" slot="start" [(ngModel)]="selectAll" (ionChange)="checkBox()" name="selectAll">
          </ion-checkbox>
        </div>

        <!-- Search Bar -->
        <ion-searchbar class="search-bar" mode="ios" (ionChange)="checkReorder()" name="search" id="search"
          [(ngModel)]="searchText" (ionClear)="onClear($event)"></ion-searchbar>

        <!-- Delete Icon -->
        <ion-icon class="delete-icon" (click)="deleteAllchecked()" *ngIf="showDelete" src="assets/img/delete.svg">
        </ion-icon>
        <ion-icon class="switch-icon" (click)="openForm(isFilterOpen)" src="assets/img/Filter.svg"></ion-icon>
        <!-- <button class="open-button" (click)="openForm()">Open Form</button> -->
        
        <div class="form-popup" id="myForm">
          <form action="/action_page.php" class="form-container">
            <div class="filter-block">     
              <a class="filter-label-cls" id='Beginner' (click)="applyFilter('Beginner')" for="Beginner">Beginner</a>
              <a class="filter-label-cls" id='Intermediate' (click)="applyFilter('Intermediate')" for="Intermediate">Intermediate</a>
              <a class="filter-label-cls" id='Advanced' (click)="applyFilter('Advanced')" for="Advanced">Advanced</a>
              <a class="filter-label-cls" id='Expert' (click)="applyFilter('Expert')" for="Expert">Expert</a>
            </div>
          </form>
        </div>
        
        <!-- *ngIf="!showDelete && cases.length > 1 " -->
      </div>

      <!-- Total cases label -->
      <div class="cases-box">
        <p style="width: 50%;" *ngIf="!filterActiveCases && filterActiveCases !== 0">{{'cases'| translate}} {{activeCount}}</p>
        <p style="width: 50%;" *ngIf="filterActiveCases">{{'cases'| translate}} {{ filterActiveCases}}</p>
        <p style="width: 50%;" *ngIf="filterActiveCases === 0">{{'cases'| translate}} 0 </p>

        <p style="width: 50%; text-align: right; margin-left: 10px;">Skill Level: {{ selectedCase?.skillLevel? selectedCase.skillLevel : skillLevelValue  }}</p>
      </div>

      <!-- case list -->
      <div class="cases-container">
        <ion-reorder-group (ionItemReorder)="reorderItems(skillLevelValue, $event)" disabled="false">
          <!-- Default reorder icon, end aligned items -->
          <ng-container *ngFor="let item of cases | searchFilter: searchText: currentPage: itemsPerPage ;let i= index;">            
            <ion-item class="case" *ngIf="item.show" [attr.data-index]="i"
              [ngClass]="{'selected':selectedCase?.index -1  == i}" (click)="setSelectedCase(item, i)">
              <div class="case-container">
                <img *ngIf="!item.isPublish" src="../../../assets/img/publish.svg"/>
                <div class="not-publish-cls" *ngIf="item.isPublish" ></div>
                <div class="checkbox-container">
                  <ion-checkbox mode="ios" slot="start" (click)="itemCheckBox($event)" (ionChange)="checkifChecked()"
                    [(ngModel)]="item.isChecked" name="termsAndConditions">
                  </ion-checkbox>
                </div>
                <div class="case-info">
                  <p class="case-number">{{'case' | translate}} {{ i + 1 }}</p>
                  <p class="case-mini-discription">{{item.details}}</p>
                </div>
              </div>
              <!-- <ion-reorder class="reorder" mode="ios" slot="end"></ion-reorder> -->
              <ion-reorder slot="end">
                <ion-icon src="assets/img/reorder.svg"></ion-icon>
              </ion-reorder>
            </ion-item>
          </ng-container>
        </ion-reorder-group>
        <p class="no-data" *ngIf="cases.length == 0 && !loading">{{'noData'| translate}}</p>
      </div>
      <div class="pagination-container">
        <!-- *ngIf="(cases.length >0) && (!searchText || searchText && searchText.length ==0)" -->
        <div>
          <ion-button (click)="prev()">
            <ion-icon slot="icon-only"
              [src]="currentPage == 1 ?'assets/img/previous_disable.svg':'assets/img/previous_enable.svg'"></ion-icon>
          </ion-button>
          <ion-button (click)="next()">
            <ion-icon slot="icon-only"
              [src]="currentPage == totalPage ?'assets/img/next_disable.svg':'assets/img/next_enable.svg'"></ion-icon>
          </ion-button>
        </div>
        <p> <span>{{currentPage}}</span> of {{totalPage}}</p>
      </div>
      <!-- <pagination-controls class="my-pagination" id="foo" (pageChange)="pageChanged($event)" (pageBoundsCorrection)="pageChanged($event)"
        maxSize="9" directionLinks="true" autoHide="true" responsive="true" previousLabel="Previous" nextLabel="Next">
      </pagination-controls> -->
    </div>
    <!------------------------- View Case ------------------------------->
    <!-- case -->
    <div *ngIf="isDetails && !loading && selectedCase" class="case-details">
      <!-- case title -->
      <div class="heading">
        <p class="title">{{'case' | translate}} {{selectedCase?.index}}</p>
      </div>

      <!-- Case Code -->
      <div class="case-description dotted-border">
        <p class="desc-heading">{{'CaseCode' | translate}}</p>
        <p class="desc-details">{{selectedCase?.caseCode}}</p>
      </div>

      <!-- Skill Level  -->   
      <div class="case-description dotted-border">
        <p class="desc-heading">{{'skillLevel' | translate}}</p>
        <p class="desc-details">{{selectedCase?.skillLevel}}</p>
      </div>

      <!-- Case details -->
      <div class="case-description dotted-border">
        <p class="desc-heading">{{'caseDetails' | translate}}</p>
        <p class="desc-details">{{selectedCase?.details}}</p>
      </div>

      <!-- Attachment -->
      <div class="attachment">
        <p class="desc-heading">{{'ecgReport' | translate}}</p>
        <!-- Attachment buttons -->
        <div class="btn-container">
          <!-- <ion-button *ngIf="filename" (click)="openViewer(selectedCase, 'isAttachment')" class="attch-btn">
            {{filename? filename : 'Attach ECG Report'}}.{{ext ? ext : ''}}
          </ion-button> -->
          <ion-img *ngIf="selectedCase?.imageUrl" (click)="openViewer(selectedCase, 'isAttachment')" class="attach-image"
            [src]="selectedCase?.imageUrl" alt="attachment">
          </ion-img>
        </div>
      </div>

      <!-- Answers -->
      <div class="answer-heading">
        <p class="desc-heading">{{'answer' | translate}}</p>
      </div>
      <div class="case-description dotted-border">
        <p class="desc-heading">{{'result' | translate}}</p>
        <p class="desc-details">{{selectedCase?.result}}</p>
      </div>

      <!-- Next Step -->
      <div class="case-description dotted-border">
        <p class="desc-heading">{{'nextStep' | translate}}</p>
        <p class="desc-details">{{selectedCase?.nextStep}}</p>
      </div>


      <!-- Answer image -->
      <div *ngIf="isAnswerImage" class="case-description dotted-border">
        <p class="desc-heading">{{'answerImage' | translate}}</p>
        <!-- Attachment buttons -->
        <div class="btn-container">
          <ion-button class="attch-btn references-btn" (click)="openViewer(selectedCase, 'isRationaleAttachment')" >
            <!-- {{rationaleFileName? rationaleFileName : 'Attach ECG Report'}}.{{rationaleExt ? rationaleExt : ''}} -->
            Click to view
          </ion-button>
          <!-- <ion-img *ngIf="selectedCase?.imageUrl" (click)="openViewer(selectedCase)" class="attach-image"
            [src]="selectedCase?.imageUrl" alt="attachment">
          </ion-img> -->
        </div>
      </div>

       <!-- References -->
      <div class="case-description dotted-border">
        <p class="desc-heading">{{'references' | translate}}</p>
        <p class="desc-details link-cls" (click)="redirectToWeb(selectedCase?.references)" [innerHTML]="selectedCase?.references"></p>
      </div>

      <!-- Supplement -->
      <div class="case-description dotted-border">
        <p class="desc-heading">{{'supplement' | translate}}</p>
        <p class="desc-details link-cls" (click)="redirectToWeb(selectedCase?.supplement)" [innerHTML]="selectedCase?.supplement"></p>
      </div>

      <!-- edit / Delete buttons -->
      <div class="bottom-container">
        <ion-button (click)="deleteCase()" class="delete-btn">{{'delete'|translate}}</ion-button>
        <ion-button (click)="editCase()" class="edit-btn">{{'edit'|translate}}</ion-button>
      </div>


    </div>

    <!-- create New Case -->
    <!-- case -->
    <div *ngIf="!isDetails" class="case-details">

      <form [formGroup]="creatCaseForm" (keyup.enter)="submit()" class="">
        <!-- case title -->
        <div class="heading back-container">
          <ion-icon (click)="setIsDetails(true)" class="input-icon" src="assets/img/back.svg"></ion-icon>
          <p class="title">{{'case' | translate}} </p>
          <div class="input-container">
            <ion-input id="caseNumber" formControlName="caseNumber" name="caseNumber" type="number" enterkeyhint="next"
              min="1" [max]="maxValue">
            </ion-input>
          </div>
          <div *ngIf="isSubmit && f.caseNumber.errors" class="error-block-header">
            <small *ngIf=" f.caseNumber.errors.required">{{ 'caseNumberRequired' | translate
              }}</small>
            <small
              *ngIf=" f.caseNumber.errors.pattern && !(f.caseNumber.errors.required || f.caseNumber.errors.max ||f.caseNumber.errors.min)">{{
              'invalidCaseNumberPattern' | translate
              }}</small>
            <small *ngIf=" f.caseNumber.errors.max">{{ 'invalidCaseNumber' | translate
              }}{{maxValue}}.</small>
            <small *ngIf=" f.caseNumber.errors.min">{{ 'invalidCaseNumber' | translate
              }}{{maxValue}}.</small>
          </div>

        </div>
        <!-- Case Code  -->
        <div class="case-description">
          <p class="label-text">{{'CaseCode' | translate}}</p>
          <input class="input-cls" placeholder="Enter case code" id="caseCode" formControlName="caseCode" name="caseCode" />
          <div *ngIf="isSubmit && f.caseCode.errors" class="error-block">
            <small *ngIf=" f.caseCode.errors.required">{{ 'caseDetailsRequired' | translate
              }}</small>
          </div>
        </div>

        <!-- Skill Level  -->
        <div class="case-description">
          <p class="label-text">{{'skillLevel' | translate}}</p>

          <select class="single-select-cls" placeholder="Select" id="skillLevel" formControlName="skillLevel" name="skillLevel" >
            <!-- (change)="changeSkill($event)" -->
            <option *ngFor="let skill of skillLevelOption" value="{{ skill.value }}"> {{ skill.name }} </option>
          </select>

          <div *ngIf="isSubmit && f.skillLevel.errors" class="error-block">
            <small *ngIf=" f.skillLevel.errors.required">{{ 'caseDetailsRequired' | translate
              }}</small>
          </div>
        </div>

        <!-- Case details -->
        <div class="case-description">
          <p class="label-text">{{'caseDetails2' | translate}}</p>
          <ion-textarea style="height: 100px;" rows="5" id="details" formControlName="details" name="details"
            class="textarea" autoGrow="true" placeholder="{{'enter'|translate}}"></ion-textarea>


          <div *ngIf="isSubmit && f.details.errors" class="error-block">
            <small *ngIf=" f.details.errors.required">{{ 'caseDetailsRequired' | translate
              }}</small>
          </div>

        </div>

        <!-- Attachment -->
        <div class="attachment">
          <input id="selectFile" #selectFile style=" display: 'none' " type="file" (change)="handleSelectFile($event)"
            accept="image/*" />
          <p class="desc-heading">{{'ecgReport' | translate}}</p>
          <!-- Attachment buttons -->
          <div class="btn-container" [ngClass]="{'align-right':attachment}">
            <ion-img *ngIf="attachment" class="attach-image" (click)="openViewer(attachment, 'isAttachment')"
              [src]="attachment?.imagePreviewUrl" alt="attachment">
            </ion-img>

            <ion-button id="attachEcgReport" (click)="attachImage()" class="attch-btn">{{'attachEcgReport' | translate}}
            </ion-button>

          </div>
          <div *ngIf="isSubmit && !attachment" class="error-block">
            <small>{{ 'attachmentRequired' | translate
              }}</small>
          </div>
        </div>

        <!-- Answers -->
        <div class="answer-heading">
          <p class="desc-heading">{{'answer' | translate}}</p>
        </div>
        <div class="case-description">
          <p class="label-text">{{'result2' | translate}}</p>
          <ion-textarea id="result" rows="5" formControlName="result" name="result" class="textarea" autoGrow="true"
            placeholder="{{'enter'|translate}}"></ion-textarea>

          <div *ngIf="isSubmit && f.result.errors" class="error-block">
            <small *ngIf="f.result.errors.required">{{ 'caseAnswerRequired' | translate
              }}</small>
          </div>
        </div>

        <!-- Next Step -->
        <div class="case-description">
          <p class="label-text">{{'nextStep2' | translate}}</p>
          <ion-textarea id="nextStep" rows="5" formControlName="nextStep" name="nextStep" class="textarea"
            autoGrow="true" placeholder="{{'enter'|translate}}"></ion-textarea>

          <div *ngIf="isSubmit && f.nextStep.errors " class="error-block">
            <small *ngIf="f.nextStep.errors.required">{{ 'caseNextRequired' | translate
              }}</small>
          </div>
        </div>

        <div class="attachment">
          <input id="selectRefrenceFile" #selectRefrenceFile style=" display: 'none' " type="file" (change)="handleSelectRefrenceFile($event)"
            accept="image/*" />
            <p class="desc-heading">{{'answerImage' | translate}}</p>
          <!-- Attachment buttons -->
          <div class="btn-container" [ngClass]="{'align-right':rationaleAttachment}">
            <ion-img *ngIf="rationaleAttachment && isAnswerImage" class="attach-image" (click)="openViewer(rationaleAttachment, 'isRationaleAttachment')"
              [src]="rationaleAttachment?.imagePreviewUrl ? rationaleAttachment?.imagePreviewUrl : selectedCase.rationaleImageUrl" alt="rationaleAttachment">
            </ion-img>
            <ion-button id="attachRefrenceReport" (click)="attachReferencesImage()" class="attch-btn">{{'attachImage' | translate}}
            </ion-button>
          </div>
        </div>

        <!-- References -->
        <div class="case-description">
          <p class="label-text">{{'referencesLink' | translate}}</p>

          <!-- <input formControlName="references" name="references" id="references" class="input-cls"/> -->
          <editor formControlName="references" name="references" id="references" class="textarea no-border"
            apiKey="sq6kvq4itc0hhndlq9a9a6y974zcdjxe51lhd7mpr2si72th"
            [init]="{
              plugins: 'link autolink',
              toolbar:'', height : '100%',
              link_default_protocol: 'https',
              default_link_target: '_blank',
              menubar:false,
              statusbar: false,
              base_url: '/tinymce',
              suffix: '.min' }">
          </editor>

          <div *ngIf="isSubmit && f.references.errors " class="error-block">
            <small *ngIf="f.references.errors.required">{{ 'referencesRequired' | translate
              }}</small>
          </div>
        </div>

        <!-- Supplement -->
        <div class="case-description">
          <p class="label-text">{{'supplement' | translate}}</p>
          <!-- <input formControlName="supplement" name="supplement" id="supplement" class="input-cls"/> -->

          <editor formControlName="supplement" name="supplement" id="supplement" class="textarea no-border"
            apiKey="sq6kvq4itc0hhndlq9a9a6y974zcdjxe51lhd7mpr2si72th"
            [init]="{
              plugins: 'link autolink',
              toolbar:'', height : '100%',
              link_default_protocol: 'https',
              default_link_target: '_blank',
              menubar:false,
              statusbar: false,
              base_url: '/tinymce',
              suffix: '.min' }">
          </editor>
          <div *ngIf="isSubmit && f.supplement.errors " class="error-block">
            <small *ngIf="f.supplement.errors.required">{{ 'supplementRequired' | translate }}</small>
          </div>
        </div>

         <!-------------- Keep me signed in --------------->
        <div class="checkbox-container">
          <input type="checkbox" formControlName="isPublish" class="checkbox-cls" mode="ios" slot="start" (click)="publishClick()" name="isPublish"
          checked="{{isPublish}}">
          <ion-label class="checkbox-label">{{ 'publishInTheApp' | translate }}</ion-label>
        </div>

        <!-- edit / Delete buttons -->
        <div class="bottom-container">
          <ion-button (click)="setIsDetails(true)" id="cancel" class="delete-btn">{{'cancel'|translate}}</ion-button>
          <ion-button id="submit" (click)="submit()" [disabled]="submitBtnDisabled" class="edit-btn">
            {{'submit'|translate}}</ion-button>
        </div>

      </form>
    </div>

  </div>
</ion-content>
