

ion-checkbox {
  --border-radius: var(--px2);
  --border-width: var(--px1);
  --background: transparent;
  // --background: var(--colorffffff);
  --border-color: var(--colorffffff);
  --checkmark-color: var(--ion-color-primary);
  --background-checked: var(--colorffffff);
  --border-color-checked: var(--colorffffff);
  --checkmark-width: var(--px4);
  width: var(--px20);
  height: var(--px20);
  max-width: var(--px20);
  margin-inline-end: var(--px10);
}

.checkbox-container {
  position: relative;
  padding: var(--px9) 0 var(--px20);
}

.checkbox-label {
  color: var(--colorffffff);
  font-weight: normal;
  position: absolute;
  font-size: var(--px13);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: var(--px18);
  text-align: left;
}
